<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= yield(:title) %></title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Main CSS-->
      <%= stylesheet_link_tag 'panel/main' %>
      <!-- Font-icon css-->
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
   </head>
   <body class="app sidebar-mini rtl">
      <!-- Navbar-->
      <%= render "layouts/header" %>
      <!-- Sidebar menu-->
      <%= render "layouts/navbar" %>
      
      <%= yield %>

      <!-- Essential javascripts for application to work-->

      <%= javascript_include_tag 'panel/jquery-3.2.1.min.js' %>
      
      <%= javascript_include_tag 'panel/popper.min.js' %>
    
      <%= javascript_include_tag 'panel/bootstrap.min.js' %>

      <%= javascript_include_tag 'panel/main.js' %>

      <!-- The javascript plugin to display page loading on top-->

      <%= javascript_include_tag 'panel/plugins/pace.min.js' %>

      <%= javascript_include_tag 'rails.js' %>
     
   </body>
</html>